.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.content {
    background-color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
}
