.container {
    font-family: 'Montserrat Variable';
}

/* INTRO */
.intro {
    width: 100vw;
    height: 480px;
    background-color: #2951b6;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: 20px;
    padding-top: 64px;

    background-image: url('./assets/intro_university.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.introMain {
    width: 90%;
    margin: 0 auto;
    color: #ffffff;
}
.introMain h2 {
    font-weight: 600;
    font-size: 32px;
}
.introText {
    max-width: 456px;
    font-weight: 400;
    margin-top: -15px;
}

.search {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: 50px;
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 32px;
}
.search input {
    outline: none;
    border: none;
    flex: 1;
}
.search input::placeholder {
    color: #b7b7b7;
    font-family: 'Montserrat Variable';
    font-weight: 500;
}
.search button {
    width: 74px;
    border: none;
    outline: none;
    background-color: #2664ff;
    border-radius: 4px;
    color: #ffffff;
    font-family: 'Montserrat Variable';
    font-weight: 500;
}
.exampleSearchText {
    margin-top: 8px;
    font-weight: 400;
}

/* MAIN */
.main {
    transform: translateY(-150px);
}
.mainCategories {
    min-height: 150px;
    background-color: #e4ecff;
    border-radius: 16px;
    padding: 30px;
    box-sizing: border-box;
}
.title {
    font-size: 24px;
    font-weight: 600;
    color: #002fa7;
}
.categories {
    display: flex;
    grid-row-gap: 24px;
    grid-column-gap: 48px;
    flex-wrap: wrap;
    margin-top: 24px;
}
.category {
    height: 48px;
    text-align: center;
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 5px 20px;
    flex: 1 0 22%;
    display: flex;
    align-items: center;
}
.category > *:nth-child(1) {
    font-size: 24px;
    color: #002fa7;
}
.category > *:nth-child(2) {
    flex: 1;
}

/* RECOMMENDATIONS SORTING */
.recommendationsSorting {
    display: flex;
    margin-top: 32px;
    gap: 20px;
}
.recommendations {
    flex: 7;
    background-color: #e4ecff;
    border-radius: 16px;
    padding: 30px;
    box-sizing: border-box;
}
.sorting {
    flex: 2;
    background-color: #e4ecff;
    border-radius: 16px;
    padding: 30px;
    box-sizing: border-box;
}
