:root {
    font-family: Inter, system-ui, Helvetica, Arial, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 90%;
    margin: 24px auto 0;
}
body::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}
body::-webkit-scrollbar-track {
    width: 1px;
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 255, 0.1);
}
